// wrapping div that contains all footer elements 
.FooterWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 100vw;
//styling for the SVG
  .HSVG {
    position: absolute;
    align-self: flex-end;
    // height: 90vh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
  }
}
//linked in image 
.IMG {
  height: 10vh;
}
