.HWrapper {
  height: 120vh;
  width: 100vw;
  // padding-top: 50vh;
}
.hobbiesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  // border: solid black 3px;
  // background-color: orange;
  z-index: 3;
  // margin-top: 5rem;
  height: 130vh;
  width: 100vw;
//text styling 
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 20vh;
    width: 20vw;
    border-radius: 3rem;
    background: transparentize($color: orange, $amount: 0.2);
    text-align: center;
  }
  //scg styling 
  .topSvg {
    position: absolute;
    align-self: flex-start;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
    
  }
}
//when the div is hovered on it will change blue 
.text:hover {
  background: transparentize($color: #0099ff, $amount: 0.2);
  height: 19vh;
}
