.navWrapper {
  align-self: start;
  // position: ;
  z-index: 3;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #0099ff;
  color: white;
  height: 10rem;
  width: 10rem;
  font-size: 20px;
  border-radius: 0 0 25% 0;
  cursor: pointer;

  align-self: start;
  font-family: "DM Sans", sans-serif;
  // display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  // display: inline-block;

  align-self: start;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;

  background-color: gray;
  min-width: 10px;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  align-self: start;
  position: absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  align-self: start;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0099ff;

  align-self: start;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

  align-self: start;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: gray;

  align-self: start;
}
