.Projectwrapper {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: orange;

  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }

  .projectSquare {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85vw;
    height: 30vh;

    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 20vh;
      width: 20vw;
      border-radius: 3rem;
      background: transparentize($color: red, $amount: 0.7);

      a {
        text-decoration: none;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  .square:hover {
    background: transparentize($color: #0099ff, $amount: 0.2);
    height: 19vh;
  }
  .SVG {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
  }
}
