.workWrapper {
  display: flex;
  z-index: 2;
  height: 110vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  .TopDiv {
    position: absolute;
    align-self: flex-start;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
  }

  .workHDiv {
    width: 60rem;
    height: 50vh;
    margin-top: 15rem;
  }
  .titleDiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-right: 5rem;
    background-color: orange;
    border-radius: 0 5rem 5rem 0;
    padding-right: 1rem;
    h5 {
      font-size: 1.5rem;
    }
  }
  .employerDiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
    margin-right: 5rem;
    background-color: #0099ff;
    border-radius: 0 5rem 5rem 0;
    padding-right: 1rem;
  }
  .resumeImg {
    margin-top: 20rem;
    margin-right: 13rem;
    margin-left: 0;
    border-radius: 5rem;
    background-color: #0099ff;

    img {
      padding: 3rem;
      height: 60vh;
      width: 30vw;
      border-radius: 5rem;
    }
  }
}
